@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;500&family=Oswald:wght@300;400&display=swap');

:root{
  --bg-line : rgba(255, 255, 255, .5);
}

.navbar-brand {
  position: absolute;
  top: 12px;
  color: rgba(255, 255, 255, .7);
  padding-left: 10px;
}


.creative__designer__heading{
  position: absolute;
  top: 240px;
  font-family:'Heebo', sans-serif ;
  margin-left: 12%;
  font-weight: 600;
  font-size: 4rem;
  display: inline-block;
  color: rgba(255, 255, 255, .7);
}

.navbar-brand:hover{
  color:rgba(255, 255, 255, .9) !important;
}

#about__me{
  position: relative !important;
}

.page-header>a:hover{
  text-decoration: none;
  cursor: pointer;
}

.page-header{
  height: 100%;
  width: 100%;
}

.page-header>img { 
    display: block;
    width:100%;
    position: relative;

  }

.icon-link{
    color: var(--bg-line);
    list-style-type: none;
    margin-left: 10px;
    cursor: pointer;
    font-size:small;
    padding:1px;
   }

.icon-link:hover{
     text-decoration: none;
     color: var(--bg-line) !important;

   }

.icon__list{
    padding-left:0 ;
    margin-top:0;
    /* background: darkgoldenrod; */
    }

    section{
    position: absolute;
    /* top: 16.5rem; */
    top: 38rem !important;
    width: auto;
    /* background: burlywood; */
    }

    .social__div{
      /* background: blue; */
      padding-bottom: 1px;
    }

   .icon__social{
    writing-mode: vertical-lr;
    -webkit-transform: rotate(-180deg);
    color:var(--bg-line);
    margin-left:4px;  
    letter-spacing: 3px;
    font-size: small;
  }

  .social__div::after{
    width:100px;
    height: 44px;
    display: inline-block;
    content: " ";
    margin-left: 15px;
    border-left: 1px solid var(--bg-line);
    }

.social__div:hover{
    cursor:default;
  }
 
.bottom__text{
    position: absolute ;
    right: 1rem;
    z-index: 1;
    top:55rem !important;
    color: var(--bg-line);
    font-style: italic;
    letter-spacing: 0;
    word-spacing: 1px;
  }

.page-header{
    margin-top: 0 ;
    display:block;
    width: 100%;
    height: 100%;
    color: #000;
    line-height: 1.6;
    position: relative;
    width:100%;
    background-image: url('/src/992531.jpg') !important;
    background-position:center;
    background-size: cover;
  }



.container-fluid ps-0 pe-0 col-lg mt-4 {
    position: relative;
    text-align: left;
    color: white;
    }

#head{
      font-family: 'Heebo', sans-serif !important;
      font-weight: bold !important;
      font-size: small;
    }
 
.name 
    {
        position: absolute;
        color: white;
        top:210px;
        display: inline-block !important;
        margin-left:12%;
        letter-spacing: 4px;
        font-family: 'Roboto', sans-serif;
         } 
      
 .name::after:hover {
       
        transition:3ms;
       }

       .name::after {
        width:60px;
        height: 8px;
        display: inline-block;
        content: " ";
        border-top: 1px solid white;
       }      

      .col-md-12::before {     
        width:100%;
        height: 400px;
        position: absolute;
        display: inline-block;
        margin-left:-5px;
        padding-right: 1px;
        content: " ";
        border-left: 1px solid white;
        }

  /* .creative__designer{
    position: absolute;
    width:auto;
    color: white;
    top:240px;
    margin-left:12%;
  } */

  .contact__button{
    position: absolute;
    top:350px;
    padding:2px;
    margin-left:12%;
    font-family: 'Oswald', sans-serif !important;
    font-size: small !important;
    border-radius: 0;
    background-color: transparent;
    height: 35px;
    width: 120px;
    color: white;
    display: inline-block;
    border:0 solid;
    outline:1px solid;
    outline-offset: 0;
    font-size:small;
    text-shadow: none;
    outline-color: var(--bg-line);
    transition: 0.3s ease-in;
 }

 .contact__button:hover{
   background-color:  rgba(255, 255, 255, 0.1) !important;
   color:white !important;
   text-decoration: none !important;
 }

 .d-flex align-items-start mt-3 ps-1 fw-bold{
   border-bottom: white;
   width: 100px;
   height:8px;
   display:inline-block;
   letter-spacing: 0;
 }  
    
 #rohit::after{
  width:100px;
  height: 60px;
  position: absolute;
  display:inherit;
  content: " ";
  border-bottom: 1px solid var(--bg-line);
 }
  
 .about__me__text{
   color:#eeeeee;
   width: auto;
   font-family: 'Heebo', sans-serif !important;
   font-size:small !important;
   margin-left: 1px;
   padding-top:3rem ;
   padding-bottom: 3px;
   margin-right:5rem;
   /* background: salmon; */
 }

.my__pic{
  width: 60%;
  height: 400px;
  margin-top: -2px;
  margin-right: 7rem;
  margin-bottom:2rem;
  
  float: right;
  border: 1px solid #5555;
  padding: 14px;
} 

#intro{
  width: 100% !important;
}

.button__cv__div{
  /* background-color: red; */
  margin-top: 0;
}
 
.button__cv{
  background: transparent;
  color: #FF616D !important;
  /* text-shadow: none; */
  outline: 1px solid  hsla(0,0%,40%,.8);
  text-decoration: none !important;
  font-family: 'Oswald', sans-serif !important;
  font-size: small !important;
  font-size: 16px;
  padding: 8px 20px;
  transition: 0.3s ease-in;
  }

.button__cv:hover, .button__cv:visited{
  text-decoration: none;
  background-color:  rgba(255, 255, 255, 0.1) !important;
  color: #FF616D !important;
  text-decoration: none;
  
}



.my__services{
  font-family: 'Oswald', sans-serif !important;
  font-weight: 700;
  font-size:2.8rem;
  color: #eeeeee;
  letter-spacing: 0;
  font-size: 48px;
  margin: 0 0 50px;
}

#header__services{
  font-family: 'Oswald', sans-serif !important;
  color:  rgba(255, 255, 255, 0.7);
  font-size: small;
  display: block !important;
}


/********** Media Query *************/
@media (max-width:545px) {
  .name{
    font-size: 10px;
    font-weight: 100;
    position: absolute;
    text-align: center;
    margin-top: 2px;
    top:90px;
  }


  section{
    display: none;
  }

.bottom__text{
  display: none;
}

  .creative__designer__heading{
    font-weight: 500;
    font-size: 20px;
    padding-top: 1px;
    top:110px;
  }
  .contact__button{
    top:140px;
    font-size: 10px !important;
    width: 80px;
    height: 23px;
  }
}

@media (min-width:546px) and (max-width:768px){
  .name{
    font-size: 13px;
    font-weight: 100;
    position: absolute;
    text-align: center;
    margin-top: 2px;
    top:90px;

  }

  .creative__designer__heading{
    font-weight: 500;
    font-size: 25px;
    padding-top: 1px;
    top:115px;
  }
  .contact__button{
    top:160px;
    font-size: 10px !important;
    width: 80px;
    height: 23px;
  }
  section{
    top:10px !important;
    margin-top: 49px;
  }

  .bottom__text{
    display: none;
  }
}

@media (min-width:769px) and (max-width:1024px){
  .name{
    font-size: 13px;
    font-weight: 100;
    position: absolute;
    text-align: center;
    margin-top: 2px;
    top:150px;

  }

  .creative__designer__heading{
    font-weight: 600;
    font-size: 40px;
    padding-top: 1px;
    top:170px;
  
  }
  .contact__button{
    top:235px;
    font-size: 10px !important;
    width: 80px;
    height: 23px;
  }
  section{
    top:120px;
  }
  .bottom__text{
    top: 23rem;
    font-size: 13px;
  }
}

@media (min-width:1025px){
  section{
    top:15rem;
  }

  .bottom__text{
    top: 31rem;
  }
}

@media (max-width:545px){
  #about__me{
    width: 100%;
    display: block;
    }

    #about__heading{ 
      padding-left:22%;
      /* background-color: teal; */
    }
    .about__me__text{
      text-align:center;
      padding-left:9px !important;
    }

    .button__cv__div{
      /* background-color: teal; */
      padding-left: 18%;
    }

    #my__pic__div{
      /* background-color:teal ; */
      width:100% !important;
    }

    .my__pic{
      width:250px;
      float:left;
      
      height:280px;
    }

    #head{
      /* background-color:teal; */
      margin-left:-4px !important;
    }
}

@media (min-width:546px) and (max-width:768px){
  #about__me{
    width: 100%;
    display: block;
    }

#head{
  /* background-color:teal; */
  margin-left:-4px !important;
}

#about__heading{ 
  padding-left:33%;
  /* background-color: teal; */
}

.about__me__text{
  text-align:center;
  padding-left:auto !important;
}

.button__cv__div{
  /* background-color: teal; */
  padding-left: 33%;}

#my__pic__div{
  /* background-color:teal ; */
  width:100%;
}
}



@media (min-width:769px) and (max-width:1024px){
  .my__pic{
      width:280px;
      float:left;
  }

  #my__pic__div{
    background-color: teal;

  }
}

@media (min-width:769px) and (max-width:1024px){
  .my__pic{
      width:280px;
      float:left;
  }

  #my__pic__div{
    background-color: teal;

  }
}

@media(min-width:1025px){
  section {
    top: 15rem !important;
  }

  .bottom__text{
    top:30rem !important;
  }
}
